* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  height: 10rem;
  width: 15rem;
  position: relative;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: visible;
}
.inputs.off {
  visibility: hidden;
}

.confirmation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 9rem;
  border: 1px solid black;
  background-color: blanchedalmond;
  width: 20rem;
  height: 20rem;
  visibility: hidden;
}
.confirmation.on {
  visibility: visible;
}
